:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  background: #fef9f3;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/breaktime-web/assets/gallery/textura.png');
    background-size: 400px;
    background-repeat: repeat;
    opacity: 0.12;
    filter: blur(1px);
    pointer-events: none;
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }
}