/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #3e2723;
  background: #fef9f3;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

main {
  min-height: calc(100vh - 200px);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem 0;
}

p {
  margin: 0 0 1rem 0;
}

a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
